<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Sr. Software Developer</h1>
            <span><address>Express Inc., Columbus, OH</address><time>2016 to Present</time></span>
        </header>
        <p>Work in progress....</p>
    </article>
    <article>
        <header>
            <h1>Liferay Architect</h1>
            <span><address>Youngsoft Inc., Wixom, MI</address><time>2012 to 2016</time></span>
        </header>
        <p>Work in progress....</p>
    </article>
    <article>
        <header>
            <h1>System Analyst</h1>
            <span><address>TCS, Gurgaon, INDIA</address><time>2009 to 2012</time></span>
        </header>
        <p>Work in progress....</p>
    </article>
</section>
